body{
    background-color: #621708;
    font-family: 'Roboto', sans-serif;
}

.blurb h2 {
    color: #ffffff;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p{
    color: #fff;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content{
    margin-top: 100px;
}

#mainNavbar .navbar-brand{
    color:#fbfbfb;
    font-size: 1.5rem;
    font-weight: 700;
}

#mainNavbar .nav-link{
    color: #fff;
}

#mainNavbar .nav-link:hover{
    color: #6b0101;
}

#mainNavbar{
    font-size: 1.3rem;
    font-weight: 500;
}

#headingGroup span{
    color: #b66b02;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
}

.photo img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.5s;
  }
  
 .photo:hover img {
    transform: scale(1.1);
    cursor: pointer;
    transition: 7s;
    transition-timing-function:cubic-bezier(0.1, 0.2, 0.3, 0.5);
  }

.navbar.scrolled {
    background-color: #2b0202 ;
    transition: 1700ms;
}


@media (max-width: 1200px){
    #headingGroup h1{
        font-weight:100;
        font-size: 2rem;
    }
}